.nav-logo{
  width: 32px;
  height: 32px;
}

.nav-bg{
  background: $bg-nav;
}

.nav-icon{
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.bg-sublinks{background: #c8e7ff;}