/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  // GENERAL
  h1{font-size: 2rem;}
  h2{font-size: 1.5rem;}
  p{font-size: 1rem !important;
    text-indent: 0.5rem;
  }

  // DISRUPTOR
  .profile-pics{
    li{
      a{
        img{
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  // CONTACT US
  .contact-us {
    display: flex;
    flex-flow: row wrap;
      a{
        padding: 14px;
      }
  }

  // FOOTER
  .social{
      display: flex !important;
      flex-wrap: wrap;
      img {
        width: 24px;
        margin: 0px 10px;
      }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
  // DISRUPTOR
  .profile-pics {
    li{
      a{
        img{
          width: 68px;
          height: 68px;
        }
      }
    }
  }

  // CONTACT US
  .contact-us {
    display: flex;
    flex-flow: row wrap;
    a{
      padding: 16px;
    }
  }

  // FOOTER
  .social{
    a{
      img{
        width: 26px;
        margin: 3px 10px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    // DISRUPTOR
  .profile-pics{
    li{
      a{
        img{
          width: 140px;
          height: 140px;
        }
      }
    }
  }

  // FOOTER
  .social{
    a{
      img{
        width: 28px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}